extends layout

block content
	style.
		.NO_HOVER_UNDERLINE_DAMMIT, .NO_HOVER_UNDERLINE_DAMMIT:hover, .NO_HOVER_UNDERLINE_DAMMIT:active {
			text-decoration:none;
		}
		.problem-text img {
			box-shadow:0px 3px 5px rgba(0,0,0, 0.5);
			margin:auto;
			display:block;
			height:250px;
		}
		.tag-default {
			background-color:#999;
			color: #FFF;												
			font-size: 12px;
			vertical-align:middle;
		}
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						if group == 3
							div(class='page-header')
								h2 Problems
							div.wrapper
								div.panel-group#accordion
									- each problem in problems
										div.panel.panel-default
											div.panel-heading
												h4.panel-title
													a.NO_HOVER_UNDERLINE_DAMMIT(data-toggle='collapse', style='font-size:16pt;', data-parent='#accordion', href='#collapse-#{problem._id}')
														table(style='width:100%;')
															tr
																td
																	| #{problem.title} 
																	small #{problem.value} points
																td(style='text-align:right;')
																	- /* for(var i=0; i<tags.length; i++) {
																		- var tag = tags[i];
																		- var k = Math.pow(2, i+1);
																		- var dname = "asdf-" + tag.id;
																		- var r = Math.floor(tag.color / (256 * 256));
																		- var g = Math.floor((tag.color % (256 * 256)) / 256);
																		- var b = tag.color % 256;
																		- if ((problem.tags & k) == k) {
																			span(class='label label-#{dname}') #{tag.abbreviation[0]}
																			style.
																				.label-#{dname} {
																					background-color:rgb(#{r}, #{g}, #{b});
																					color: #FFF;
																				}
																		- }
																	- } */
																	if problem.solved
																		span.label.label-success Solved
																	else
																		span.label.label-danger Unsolved
											div.panel-collapse.collapse(id='collapse-#{problem._id}')
												div.panel-body
													div.problem-text
														small
															i Written by #{problem.author}
														p!= problem.text
													if problem.solved
														div.alert.alert-success <b>Yay!</b> You've already solved this question.
													else
														div
															div.alert.alert-success(id='#{problem._id}-alert-correct', style='display:none;')
																<b>Yay!</b> Your answer was correct.
															div.alert.alert-warning(id='#{problem._id}-alert-incorrect', style='display:none;')
																<b>Darn!</b> Your answer was incorrect.
															div.alert.alert-warning(id='#{problem._id}-alert-tried', style='display:none;')
																<b>Darn!</b> You've already tried that!
															div.alert.alert-danger(id='#{problem._id}-alert-format', style='display:none;')
																<b>:(</b> XSS won't work here!
															div.alert.alert-info(id='#{problem._id}-alert-hash', style='display:none;')
																<b>Hash your flags</b> Before you submit, hash your flags using the MD5 hash. For example, if your flag is <span style="font-family:monospace;">this_is_a_flag</span>, then submit <span style="font-family:monospace;">401e48c9a96dc219c32ab5e75204b655</span>.
															div.alert.alert-danger(id='#{problem._id}-alert-wrong', style='display:none;')
																<b>Whoops</b> Something went wrong here.
															div.alert.alert-warning(id='#{problem._id}-alert-solved', style='display:none;')
																<b>Whoops</b> You've already solved this problem!
														form.form-horizontal(action='javascript:checkProblem(\'#{problem._id}\');')
															span.col-lg-3(style='display:inline-block;')
																input.form-control(type='text', id='#{problem._id}-form-answer', value='912ec803b2ce49e4a541068d495ab570')
															input.btn.btn-success(type='submit', id='#{problem._id}-form-submit', value='Check!')
							script.
								var checkProblem = function(pid) {
									$("[id^="+pid+"-alert-]").slideUp("fast");
									$("[id^="+pid+"-form-]").attr("disabled", "disabled");
									var answer = $("#" + pid + "-form-answer").val();
									if (answer.match("[a-fA-F0-9]{32}")) {
										$.ajax({
											url:"/problems/submit.ajax",
											dataType:"json",
											type:"POST",
											data:{
												pID: pid,
												submission: $("#"+pid+"-form-answer").val().trim(),
											},
											success:function(content){
												console.dir(content);
												if (content.ret == 1) {
													$("#"+pid+"-alert-correct").slideDown("fast");
													setTimeout(function() {
														window.location.reload(true);
													}, 2000);
												} else if (content.ret == 0) {
													$("#"+pid+"-alert-incorrect").slideDown("fast");
													$("[id^="+pid+"-form-]").removeAttr("disabled");
												} else if (content.ret == 3) {
													$("#"+pid+"-alert-tried").slideDown("fast");
													$("[id^="+pid+"-form-]").removeAttr("disabled");
												} else if (content.ret == -1) {
													$("#"+pid+"-alert-format").slideDown("fast");
													$("[id^="+pid+"-form-]").removeAttr("disabled");
												} else if (content.ret == -2) {
													$("#"+pid+"-alert-solved").slideDown("fast");
													$("[id^="+pid+"-form-]").removeAttr("disabled");
												}
											},
											error:function(content){
												$("#"+pid+"-alert-wrong").slideDown("fast");
												$("[id^="+pid+"-form-]").removeAttr("disabled");
											}
										});
									} else {
										$("#"+pid+"-alert-hash").slideDown("fast");
										$("[id^="+pid+"-form-]").removeAttr("disabled");
									}
								};
						else
							div(class='alert alert-danger').
								<b>Error:</b> Contest hasn't started yet!
					else
						div(class='alert alert-danger').
							<b>Error:</b> You must be logged in to view this page!