extends layout

block content
	style.
		.NO_HOVER_UNDERLINE_DAMMIT, .NO_HOVER_UNDERLINE_DAMMIT:hover, .NO_HOVER_UNDERLINE_DAMMIT:active {
			text-decoration:none;
		}
		.problem-text img {
			box-shadow:0px 3px 5px rgba(0,0,0, 0.5);
			margin:auto;
			display:block;
			height:250px;
		}
		.tag-default {
			background-color:#999;
			color: #FFF;												
			font-size: 12px;
			vertical-align:middle;
		}
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						if group == 3
							div(class='page-header')
								h2 Problems
							div.wrapper
								div.panel-group#accordion
									- each problem in problems
										div.panel.panel-default
											div.panel-heading
												h4.panel-title
													a.NO_HOVER_UNDERLINE_DAMMIT(data-toggle='collapse', style='font-size:16pt;', data-parent='#accordion', href='#collapse-#{problem._id}')
														table(style='width:100%;')
															tr
																td
																	| #{problem.title} 
																	small #{problem.value} points
																td(style='text-align:right;')
																	- for(var i=0; i<tags.length; i++) {
																		- var tag = tags[i];
																		- var k = Math.pow(2, i+1);
																		- var dname = "asdf-" + tag.id;
																		- var r = Math.floor(tag.color / (256 * 256));
																		- var g = Math.floor((tag.color % (256 * 256)) / 256);
																		- var b = tag.color % 256;
																		- if ((problem.tags & k) == k) {
																			span(class='label label-#{dname}') #{tag.abbreviation[0]}
																			style.
																				.label-#{dname} {
																					background-color:rgb(#{r}, #{g}, #{b});
																					color: #FFF;
																				}
																		- }
																	- }
											div.panel-collapse.collapse(id='collapse-#{problem._id}')
												div.panel-body
													div.problem-text
														small
															i Written by #{problem.author}
														p!= problem.text
						else
							div(class='alert alert-danger').
								<b>Error:</b> Contest hasn't started yet!
					else
						div(class='alert alert-danger').
							<b>Error:</b> You must be logged in to view this page!