extends layout

block content
	style.
		.NO_HOVER_UNDERLINE_DAMMIT, .NO_HOVER_UNDERLINE_DAMMIT:hover, .NO_HOVER_UNDERLINE_DAMMIT:active {
			text-decoration:none;
		}
		.problem-text img {
			box-shadow:0px 3px 5px rgba(0,0,0, 0.5);
			margin:auto;
			display:block;
			height:250px;
		}
		.tag-default {
			background-color:#999;
			color: #FFF;												
			font-size: 12px;
			vertical-align:middle;
		}
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					if logged
						if group == 3
							div(class='page-header')
								h2 Problems
							div.wrapper
								div.panel-group#accordion
									- each problem in problems
										div.panel.panel-default
											div.panel-heading
												h4.panel-title
													a.NO_HOVER_UNDERLINE_DAMMIT(data-toggle='collapse', style='font-size:16pt;', data-parent='#accordion', href='#collapse-#{problem._id}')
														table(style='width:100%;')
															tr
																td
																	| #{problem.title} 
																	small #{problem.value} points
																td(style='text-align:right;')
																	| #{problem.tags}
											div.panel-collapse.collapse(id='collapse-#{problem._id}')
												div.panel-body
													div.problem-text.
														#{problem.text}
						else
							div(class='alert alert-danger').
								<b>Error:</b> Contest hasn't started yet!
					else
						div(class='alert alert-danger').
							<b>Error:</b> You must be logged in to view this page!