extends layout

block content
	div(class='wrapper')
		div(class='main')
			section(id='page1')
				div(class='page-container')
					div(class='page-header')
						h2 Public Scoreboard
					table(class='table table-hover table-striped')
						thead
							th Rank
							th Team Name
							th School
							th Points
						- var i = 0;
						- each account in accounts
							if (everyone || account.group == 1)
								- i += 1;
								tr
									td #{i}
									td
										if account.group == 3
											b
												a(href='/profile/#{account._id}', target='_blank') #{account.teamname}
										else
											div
												a(href='/profile/#{account._id}', target='_blank') #{account.teamname}
									td #{account.school}
									td #{account.pointDisplay}